<ion-view>
      <ion-content ng-controller="subMenu ">
        <div class="list list-inset ">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <label class="item-input-wrapper">
           <input id="searchKey" type="search" placeholder="Search" ng-model="menu" >
            
          </label>
            <!--  -->
          </label>
        </div>
        <div ng-repeat="menu in SubMenu | filter:menu"> 
            <div>
            <div class="list text-center" >
              <a class="item item-trns" href="#/subMenuItem/={{menu.menuId}}={{menu.id}}">
                <h2>{{menu.subMenuName}}</h2>
              </a>
            </div>
          </div>
        </div>
        <div class="item item-trns" >
                 
                </div>

      </ion-content>
  </ion-view>